/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.hero__title {
  /* color: var(--ifm-color-secondary) !important; */
  color: white !important;
  margin-inline: auto;
  font-size: 86px;
}

.hero__desc {
  font-size: 24px;
}
